@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
// media
@mixin breakpoint-down($max-lg) {
  @media only screen and (max-width: $max-lg) {
    @content;
  }
}

@mixin breakpoint-up($max-xs) {
  @media only screen and (max-width: $max-xs) {
    @content;
  }
}
// before after
@mixin before-after ($widths: 300px, 
                     $heights: 100px 
                     ) {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: $widths;
  height: $heights;
}

@mixin font-mazzard ($ft-weight: 400,
                     $ft-size: 16px,
                     $ft-color: #000) {
  
  font-family: $font-mazzard;
  font-weight: $ft-weight;
  font-size: $ft-size;
  color: $ft-color;
}

@mixin font-greatest ($ft-weight: 400,
                   $ft-size: 16px,
                   $ft-color: #000) {
  
  font-family: $font-greatest;
  font-weight: $ft-weight;
  font-size: $ft-size;
  color: $ft-color;
}

@mixin border-bg-none {
  border: none;
  background-color: transparent;
}

// text links