// CONTAINER 
$container-width: 1320px;
$container-fluid-width: 1450px;
$padding: 20px;
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1200px;

// COLORS
$bg-light: #fff;
$body-bg-color: #fbf4ea;
$color-dark: #000;
$bg-green: #0a472e;
$bg-light-green: #bac34e;

// FONTS
$font-mazzard: 'Mazzard';
$font-greatest: "Dancing";