.contact-form {
  background-color: #fff;
  padding: 40px 0;

  &__info-title {
    @include font-mazzard(400, 18px, #414141);
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__info-inner {
    
    &:nth-child(1) {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid #000;
    }
  }

  &__info-icon {
    width: 56px;
    font-size: 32px;
    color: #878787;
  }

  &__info-desc {
  }

  &__info-text {
    margin-bottom: 0;
  }

  &__inner {
  }
}
